langchain
langchain-community
langchain-openai
langchain_ollama
langchain-sandbox
langgraph
python-dotenv
fastapi
sse-starlette
uvicorn
# notebook 
# ipykernel
# ipywidgets
openai
pandas
numpy
matplotlib
seaborn
scipy
statsmodels
scikit-learn
pillow
pyarrow