langchain
langchain-community
langchain-openai
langgraph
python-dotenv
fastapi
sse-starlette
uvicorn[standard]
# openai
pandas
numpy
matplotlib
# seaborn
# scipy
# statsmodels
# scikit-learn
# pillow
# pyarrow
